// .content {
//   background: #fff;
//   height: calc(100% - 0.425rem);
//   overflow: auto;
//   width: 100%;
//   box-sizing: border-box;
//   padding: 0.375rem;
  
// }

.content_1 {
  display: flex;
  justify-content: space-between;
  .content_1_1 {
    width: 3.125rem;
    height: 1.4625rem;
    background: #fff;
    border-radius: 0.05rem;
    border: 0.0125rem solid #ebeef5;
    cursor: pointer;
    transition: all 0.5s;
    .content_1_1_1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.1875rem;
      height: 0.6rem;
      border-bottom: #e7eaec 0.0125rem solid;
      .content_1_1_1_1 {
        font-size: 0.175rem;
      }
      .content_1_1_1_2 {
        width: 0.5rem;
        height: 0.225rem;
        background: #42b983;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 0.125rem;
      }
    }
    .content_1_1_2 {
      padding-left: 0.25rem;
      font-size: 0.375rem;
      height: calc(100% - 0.6rem);
      display: flex;
      align-items: center;
    }
  }
  .content_1_1:hover {
    box-shadow: 0 0.025rem 0.15rem 0 rgb(0 0 0 / 10%);
  }
}
#main {
  // width: 20.175rem;
  // height: 4.375rem;
  // margin: 0 auto;
  // margin-top: 1.25rem;
  height: 500px;
}
